<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/lib/editormd/css/editormd.css"/>
    <link rel="stylesheet" href="/css/index.css">
    <title>编辑文章</title>
</head>
<body style="background: none">

<!--导航栏-->
<nav class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">写博客</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/admin">后台首页</a></li>
        </ul>
    </div>
</nav>

<div class="m-container m-padded-tb-large">
    <div class="ui container">
        <form action="#" method="post" class="ui form">
            <div class="required field">
                <div class="ui left labeled input">
                    <div class="ui selection teal compact basic dropdown label">
                        <input type="hidden" value="原创">
                        <i class="dropdown icon"></i>
                        <div class="text">原创</div>
                        <div class="menu">
                            <div class="item" data-value="原创">原创</div>
                            <div class="item" data-value="转载">转载</div>
                            <div class="item" data-value="翻译">翻译</div>
                        </div>
                    </div>
                    <input type="text" name="title" placeholder="标题">
                </div>

                <textarea id="summary" name="summary" required lay-verify="required" placeholder="摘要..." class="layui-textarea"></textarea>

            </div>


<!--            <div class="field">-->
<!--                <textarea placeholder="博客内容" name="content"></textarea>-->
<!--            </div>-->
<!--            -->
            <div id="test-editormd">
                <!-- 书写与实时显示的textarea -->
                <textarea id="my-editormd-markdown-doc" name="preContent" style="display:none;"></textarea>
                <!-- 用于后端获取md稳当内容，Java中：request.getParameter("my-editormd-html-code")。 -->
                <textarea id="my-editormd-html-code" name="htmlContent" style="display:none;"></textarea>
            </div>


            <div class="two fields">
                <div class="field">
                    <div class="ui left action labeled input">
                        <label class="ui compact teal basic label">分类</label>
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="type">
                            <i class="dropdown icon"></i>
                            <div class="text">分类</div>
                            <div class="menu">
                                <div class="item" data-value="1">错误日志</div>
                                <div class="item" data-value="2">开发者手册</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left action labeled input">
                        <label class="ui compact teal basic label">标签</label>
                        <div class="ui dropdown fluid selection multiple search ">
                            <input type="hidden" name="tag">
                            <div class="text">标签</div>
                            <div class="menu">
                                <div class="item" data-value="1">Java</div>
                                <div class="item" data-value="2">算法</div>
                                <div class="item" data-value="3">Python</div>
                                <div class="item" data-value="4">C++</div>
                                <div class="item" data-value="5">数据科学</div>
                                <div class="item" data-value="6">Mysql</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">首图</label>
                    <input type="text" name="indexPicture" placeholder="首图引用地址">
                </div>
            </div>

            <div class="inline fields">
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend" checked class="hidden">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="shareInfo" name="shareInfo" class="hidden">
                        <label for="shareInfo">转载声明</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="appreciation" name="appreciation" class="hidden">
                        <label for="appreciation">赞赏</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="comment" name="comment" checked class="hidden">
                        <label for="comment">评论</label>
                    </div>
                </div>
            </div>

            <div class="ui right aligned container">
<!--                go(-1)返回上一个页面-->
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button class="ui secondary button">保存</button>
                <button class="ui teal button">提交</button>
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
</div>


<script src="/layui/layui.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/lib/editormd/editormd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script>
<script>

    $('.ui.dropdown').dropdown();

    //表单验证，防止一切东西没有输入直接提交了
    $('.ui.form').form({
        fields : {
            title : {
                identifier : 'title',
                rules : [{
                    type : 'empty', //非空验证
                    prompt : '标题：请输入博客标题'
                }]
            },
            content : {
                identifier: 'preContent',
                rules: [{
                    type: 'empty',
                    prompt: '正文：请输入博客内容'
                }]
            }
        }
    });


    var testEditor;
    $(function() {
        testEditor = editormd("test-editormd", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            path    : "/lib/editormd/lib/"
        });

    });
</script>



</body>
</html>