<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">阳寜</h2>
            <a href="/" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="/home" class="m-item item m-mobile-hide"><i class="book icon"></i>博客</a>
            <a href="/types/1" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="/tags/1" class=" active m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="/archive" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="/yangning" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
<!--        header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">标签</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(tagList)}">14</h2> 个
                </div>
            </div>
        </div>
        <div class="ui attached segment m-padded-tb-large">
            <div class="ui labeled button m-margin-tb-tiny" th:each="tag:${tagList}">
                <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" class="ui basic button" th:text="${tag.name}" th:classappend="${tag.id==activeId}?'teal'">思考与感悟</a>
                <div class="ui basic left pointing label" th:text="${BlogNumByTag.get(tag.id)}" th:classappend="${tag.id==activeId}?'teal'">24</div>
            </div>
        </div>

        <div class="ui top attached teal segment">
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid" th:each="blog:${pageInfoBlog.getList()}">
                    <div class="eleven wide column">
                        <h3 class="ui header"><a href="#" class="m-black" th:text="${blog.title}">你真的理解什么是幸福吗？</a></h3>
                        <p class="m-text">
                            <a target="_blank" href="#" th:href="@{/article/{id}(id=${blog.id})}" class="m-black" th:text="${blog.summary}">
                                什么什么？你说什么？
                            </a>
                        </p>
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                        <div class="content"><a href="#" class="header" th:text="${blog.user.userName}">阳寜</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2022-03-26</span>
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> <span th:text="${blog.views}">6666</span>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">认知升级</a>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" th:href="@{/tags/{id}(id=${activeId},page=${pageInfoBlog.getPageNum()-1})}" class="ui teal basic mini button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" th:href="@{/tags/{id}(id=${activeId},page=${pageInfoBlog.getPageNum()+1})}" class="ui teal basic mini button">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<!--底部footer-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="./images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">第一篇文章</a>
                    <a href="#" class="item">第二篇文章</a>
                    <a href="#" class="item">第三篇文章</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:QQ@qq.com</a>
                    <a href="#" class="item">QQ:2428022854</a>

                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">阳寜</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是阳寜的个人博客，会分享有趣的事情！</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2022 Designed by 阳寜
            <br><a href="https://beian.miit.gov.cn">豫ICP备2022006869号</a>
        </p>
    </div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>